ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-avatar { 
  width: 127px;  
  height: 180px;  
  --border-radius: 3px;
}

ion-badge {
  --background: purple;
  --color: white;
}

.platform_theme {
  width: 22px;
  height: 22px;
  margin: 0px 10px 0px 0px;
}

.instagram-img{
  width: 28px;
  height: 28px;
}

cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

.horizontal {
  display: flex;
}

